/*colores*/
$blue: blue;
$black: #000;
$pink: pink;
$white: #fff;
$yellow: yellow;
$grey: grey;
$lightcoral: lightcoral;
$red: red;
$aqua: aqua;
/*tipo/tamaño de letra*/
$font-size: 20px;
$verdana: verdana;