@import "../variables/variables.scss";
@import "../sass2/mixins";

main{
    .titulo{
        @include titulo;}
    div{
        .img-carrousel{
            margin: 10px;
            align-items: center;
            align-self: center;
            text-align: center;
            justify-content: center;
            width: 70%;
            height: 150px;
        }
    }
    article{
        .grid-index-container{
            margin: 15px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: 
            "imagen1-index imagen2-index imagen3-index"
            "a3-index a1-index a2-index";
            
            .imagen1-index{
                grid-area: imagen1-index;
                @include imagenes-index;
            }
            .imagen2-index{
                grid-area: imagen2-index;
                @include imagenes-index;
            }
            .imagen3-index{
                grid-area: imagen3-index;
                @include imagenes-index;
            }
            .a1-index{
                grid-area: a1-index;
                @include a-index;
            }
            .a2-index{
                grid-area: a2-index;
                @include a-index;
            }
            .a3-index{
                grid-area: a3-index;
                padding: 0px;
                @include a-index;
            }
        }
        @media screen and (max-width: 1400px){

        }
        @media screen and (max-width: 768px){
            .grid-index-container{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "imagen1-index imagen2-index imagen3-index"
                "a3-index a1-index a2-index";
            
                .imagen1-index{
                    grid-area: imagen1-index;
                }
                .imagen2-index{
                    grid-area: imagen2-index;
                    
                }
                .imagen3-index{
                    grid-area: imagen3-index;
                    
                }
                .a3-index{
                    grid-area: a3-index;
                    font-size: 20px;
                }
                .a1-index{
                    grid-area: a1-index;
                    font-size: 20px;
                }
                .a2-index{
                    grid-area: a2-index;
                    font-size: 20px;
                }
            }
        }
        @media screen and (max-width: 500px){
            .grid-index-container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-template-areas: 
                "imagen1-index"
                "a3-index" 
                "imagen2-index"
                "a1-index"
                "imagen3-index"
                "a2-index"; 
                .imagen1-index, .imagen2-index, .imagen3-index{
                    margin-left: 5%;
                }
                .imagen1-index{
                    grid-area: imagen1-index;
                }
                .imagen2-index{
                    grid-area: imagen2-index;
                }
                .imagen3-index{
                    grid-area: imagen3-index;
                }
                .a3-index{
                    grid-area: a3-index;
                    font-size: 25px;
                }
                .a1-index{
                    grid-area: a1-index;
                    font-size: 25px;
                }
                .a2-index{
                    grid-area: a2-index;
                    font-size: 25px;
                }
            }
        }
    }
}